# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.ALevelProject2021.iml
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\ethan\Documents\GitHub\ALevelProject2021\.idea\.idea.ALevelProject2021\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
